div.container {
    /* border: 1px solid yellow; */
    background-color: rgb(209, 244, 250);
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    justify-self: center;
    padding: 30px;
    /* width: 80vw;
    height: auto;
    position:fixed; */
    /* height: auto; */
}

.vidThumbnail {
    width: 50%;
}

div.videoDetails{
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

div.uploaderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.avatar {
    padding:15px;
}

button {
    border-radius: 10%;
    background-color:silver;
    font-weight: bold;
    /* font-size:inherit; */
    width: 40%;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(209, 207, 207);
    border-color:rgb(209, 207, 207);
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #aaa;
}