<div class="container">
    <img class="vidThumbnail" src="{{ video.thumbnail_360_url }}">
    <div class="videoDetails">
        <h3><a href="https://www.dailymotion.com/video/{{ video.id }}" target="_blank">{{ video.title }}</a></h3><!-- Clicking on title should href = dailymotion.com/video/{{ id }} -->
        <div class="uploaderInfo">
            <img class="avatar" src='{{ video["owner.avatar_80_url"]}}'>
            <p>{{ video["owner.username"] }}</p>
        </div>
        <p>Date Posted: {{ video.created_time * 1000 | date }} | Views: {{ video.views_total }}</p>
        <button (click)="addToPlaylistBtn()">ADD TO PLAYLIST</button>
    </div>
</div>