<!-- <div>
    <img src="">
    <h3>{{ video.title }}</h3>
    <p>Replace with profile photo of creator</p>
    <p>Date Posted: (dateHere) | Views: (no.OfViewsHere)</p>
    <button (click)="addToPlaylistBtn()">ADD TO PLAYLIST</button>
</div> -->

<div>
    <p>Preview img of video here</p>
    <h3>{{ video.title }}</h3>
    <p>Replace with profile photo of creator</p>
    <p>Date Posted: (dateHere) | Views: (no.OfViewsHere)</p>
    <button (click)="addToPlaylistBtn()">ADD TO PLAYLIST</button>
</div>