.container{
    background-color: rgb(145, 217, 219);
    width: 50%;
    height: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.vidThumbnail {
    height: auto;
    width: 40vw;
    /* float: left; */
    margin: 15px;
}

.videoDetails {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* border: 1px solid red; */
    text-align: center;
}

.uploaderInfo {
    display: flex;
    flex-direction: row;
}

button {
    margin: 0 auto;
    border-radius: 10%;

}

.avatar{
    /* float: left; */
    height: auto;
    width: 5vw;
}