/* ul{
    list-style-type: none;
    margin-left: 40px;
} */

li{
    display: inline;
    margin-right: 20px;
}

nav{
    background-color: rgb(220, 236, 243);
    text-align: center;
}

a{
    text-decoration: none;
    color:rgb(59, 93, 107);
}

a:hover{
    color:slategray;
}

img {
    display: inline;
    width:50vw;
}